* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  margin-top: 2%;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: 8% 74% 8% 10%;
}

.top {
  grid-column: 9 / 17;
  grid-row: 1 / 4;
}

.bottom {
  grid-column: 9 / 17;
  grid-row: 4 / 5;
}

.laptop {
  grid-column: 3 / 15;
  grid-row: 2 / 3;
  z-index: 10;
}

.phone {
  grid-column: 15 / 19;
  grid-row: 2 / 3;
}

@media (max-width: 767px) {
  .grid {
    display: grid;
    overflow: hidden;
    margin-top: 2%;
    grid-template-columns: repeat(33, 1fr);
    grid-template-rows: 12% 64% 12% 12%;
  }

  .top {
    grid-column: 6 / 31;
    grid-row: 1 / 4;
    width: 100%;
  }

  .bottom {
    grid-column: 6 / 31;
    grid-row: 4 / 5;
  }

  .laptop {
    grid-column: 1 / 27;
    grid-row: 2 / 3;
    transform: translateX(-31%);
  }

  .phone {
    grid-column: 22 / 34;
    grid-row: 2 / 3;
    transform: translateX(27%);
  }
}
